<div class="container">
  <div class="page-box">
    <h2 class="mb-4 text-center">Login User</h2>

    <form (ngSubmit)="login()">
      <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="username" required>
      </div>

      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="password" required>
      </div>

      <p class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</p>

      <button type="submit" class="btn btn-success w-100">Login</button>
    </form>
  </div>
</div>
